@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "../styles/components/variables";

body {
  margin: 0 auto;
  background-color: $backgrount-color;
  color: $text-color;
  transition: color, background 0.2s;
  font-family: $base-font;
}
p,
h1,
h2,
h3 {
  margin: 0;
}
a,
nav-item > a {
  text-decoration: none;
  color: $text-color;
  transition: all 0.2s;
}

ol,
ul {
  padding: 0;
}
li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  box-sizing: border-box;
}

main {
  min-height: 75vh;
  padding: 3rem 0;
}

@media (max-width: 920px) {
  main {
    padding: 1.5rem 0;
  }
}

// PAGES / PAGE PARTS

@import "../styles/page-parts/header";
@import "../styles/page-parts/footer";
@import "../styles/page-parts/popular";
@import "../styles/page-parts/hero";
@import "../styles/page-parts/items";
@import "../styles/page-parts/categories";
@import "../styles/page-parts/likes";
@import "../styles/page-parts/cart";
@import "../styles/page-parts/single-item-page";

// COMPONENTS / ELEMENTS

@import "../styles/components/button";
@import "../styles/components/spinner";
@import "../styles/components/item-card";
