@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --theme-value: light;
  --backgrount-color: #FFEDE3;
  --text-color: #361D17;
  --text-color2: #E2BF97;
  --focus-color: #e78989;
  --focus-color2: #96E0A6;
  --focus-font: "Rubik Doodle Shadow", system-ui;
  --base-font: "Inter", sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--backgrount-color);
  color: var(--text-color);
  transition: color, background 0.2s;
  font-family: var(--base-font);
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

a,
nav-item > a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s;
}

a.text:active,
a.text:hover,
a.text {
  text-decoration: none;
}

ol,
ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  box-sizing: border-box;
}

main {
  min-height: 75vh;
  padding: 3rem 0;
}

@media (max-width: 920px) {
  main {
    padding: 1.5rem 0;
  }
}
section#header {
  border-bottom: solid 1px var(--focus-color);
}
section#header .container {
  display: flex;
  justify-content: space-between;
  padding: 0.85rem 1.5rem;
  font-family: var(--focus-font);
}
section#header .container a:hover {
  color: var(--focus-color);
}
section#header .container .header__left {
  display: flex;
}
section#header .container .header__left .logo {
  width: 60px;
  height: 60px;
  margin-right: 3rem;
}
section#header .container .header__left .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
section#header .container .header__left .menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-weight: bold;
}
section#header .container .header__left .menu li > a {
  font-size: 1.25rem;
  position: relative;
}
section#header .container .header__left .menu li > a span {
  position: absolute;
  display: block;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: var(--text-color);
  transition: all 0.2s;
}
section#header .container .header__left .menu li > a:hover span {
  width: 100%;
  background-color: var(--focus-color);
}
section#header .container .header__left .menu li > a.active {
  color: var(--focus-color);
}
section#header .container .header__left .menu li > a.active span {
  width: 100%;
  background-color: var(--focus-color);
}
section#header .container .header__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
section#header .container .header__right a.active {
  color: var(--focus-color);
}
section#header .container .header__right .header__likes a,
section#header .container .header__right .header__bag a {
  position: relative;
}
section#header .container .header__right .header__likes a span,
section#header .container .header__right .header__bag a span {
  color: var(--text-color) !important;
  position: absolute;
  bottom: 90%;
  right: -10px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--focus-color);
  border-radius: 100%;
  padding: 3px;
  font-family: var(--base-font);
  font-size: 10px;
}

@media (max-width: 920px) {
  section#header .container {
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
  }
  section#header .container .header__left {
    flex-direction: column;
    align-items: center;
  }
  section#header .container .header__left .logo {
    margin: 0;
  }
}
section#footer {
  border-top: solid 1px var(--focus-color);
}
section#footer .container {
  padding: 3rem 1.5rem;
}
section#footer .content {
  display: flex;
  width: 100%;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}
section#footer .content img {
  width: 150px;
}
section#footer .content .text {
  width: 35%;
}
section#footer .content .text h5 {
  font-size: 1.3rem;
  margin: 0 0 1rem;
}
section#footer .content .text p {
  font-size: 0.85rem;
  min-width: 200px;
}
section#footer .media {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  font-family: var(--focus-font);
  height: 100%;
  margin-left: auto;
}
section#footer .media:hover a > span {
  color: var(--focus-color);
}

.footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: var(--focus-font);
  font-size: 1.3rem;
}

@media (max-width: 720px) {
  section#footer .content {
    gap: 1rem;
    flex-wrap: wrap;
  }
  section#footer .content img {
    order: 1;
    width: 30%;
  }
  section#footer .content .text {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  section#footer .media {
    align-items: center;
    width: 60%;
    order: 3;
    font-size: 14px;
  }
}
section#popular {
  padding: 50px 0;
}
section#popular .popular__heading {
  margin-bottom: 1.5rem;
}
section#popular .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
section#popular .footer {
  display: flex;
  justify-content: center;
}

@media (max-width: 920px) {
  section#popular .content {
    gap: 1rem;
  }
}
section#hero .container {
  border: solid 2px var(--text-color);
  border-radius: 10px;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#hero .container {
  display: flex;
  position: relative;
  padding: 0;
  border-radius: 10px;
  overflow: hidden;
}
section#hero .heading {
  width: 30%;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(54, 29, 23, 0.7137254902);
}
section#hero .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  color: var(--backgrount-color);
  text-align: center;
}
section#hero .content {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  border-radius: 10px;
}
section#hero .content .swiper {
  height: 100%;
}
section#hero .content .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 920px) {
  section#hero {
    margin: -1.5rem 0 0;
  }
  section#hero .container {
    height: 20rem;
    border-radius: 0;
  }
  section#hero .container .content {
    border-radius: 0;
  }
}
section#items {
  display: flex;
  justify-content: center;
  align-items: center;
}
section#items .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
  margin: 0 0 1.5rem;
}
section#items .content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 2rem;
}
section#items .content a {
  display: contents;
}

@media (max-width: 720px) {
  section#items .heading h1 {
    font-size: 3rem;
  }
  section#items .content {
    gap: 1rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 520px) {
  section#items .heading h1 {
    font-size: 2rem;
  }
}
section#categories {
  height: 20rem;
  display: flex;
  justify-content: center;
}
section#categories .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
}

@media (max-width: 720px) {
  section#categories .heading h1 {
    font-size: 3rem;
  }
}
@media (max-width: 520px) {
  section#categories .heading h1 {
    font-size: 2rem;
  }
}
section#likes .heading {
  margin-bottom: 1.5rem;
}
section#likes .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
  margin: 0;
}
section#likes .content {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  section#likes .heading h1 {
    font-size: 3rem;
  }
  section#likes .content {
    gap: 1rem;
  }
}
@media (max-width: 520px) {
  section#likes .heading h1 {
    font-size: 2rem;
  }
}
section#cart .heading {
  margin-bottom: 1.5rem;
}
section#cart .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
  margin: 0;
}
section#cart .content {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 720px) {
  section#cart .heading h1 {
    font-size: 3rem;
  }
  section#cart .content {
    gap: 1rem;
  }
}
@media (max-width: 520px) {
  section#cart .heading h1 {
    font-size: 2rem;
  }
}
section#item-page .container {
  display: flex;
  gap: 3rem;
}
section#item-page .container .item-page__images {
  width: 35%;
  border-radius: 3px solid var(--focus-color);
  position: relative;
  height: -moz-min-content;
  height: min-content;
  margin: auto 4rem;
}
section#item-page .container .item-page__images .swiper-wrapper {
  width: calc(100% - 5rem);
}
section#item-page .container .item-page__images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#item-page .container .item-page__images .swiper-button-next,
section#item-page .container .item-page__images .swiper-button-prev {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  border: solid 2px var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -3rem;
  transition: all 0.2s;
}
@media (min-width: 540px) {
  section#item-page .container .item-page__images .swiper-button-next:hover,
  section#item-page .container .item-page__images .swiper-button-prev:hover {
    background: #e78989;
  }
}
section#item-page .container .item-page__images .swiper-button-next:active,
section#item-page .container .item-page__images .swiper-button-prev:active {
  background: #e78989;
}
section#item-page .container .item-page__images .swiper-button-next img,
section#item-page .container .item-page__images .swiper-button-prev img {
  width: 40%;
  height: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
section#item-page .container .item-page__images .swiper-button-next {
  left: unset;
  right: -3rem;
}
section#item-page .container .item-page__images .swiper-button-next img {
  transform: rotate(-180deg);
}
section#item-page .container .item-page__images .swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}
section#item-page .container .item-page__images .swiper-pagination .swiper-pagination-bullet {
  display: block;
  width: 10px;
  height: 10px;
  border: solid 2px var(--text-color);
  border-radius: 100%;
  transition: background 0.2s;
  cursor: pointer;
}
section#item-page .container .item-page__images .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--focus-color);
}
section#item-page .container .item-page__info {
  width: 40%;
}
section#item-page .container .item-page__info h4 {
  font-size: 1.5rem;
  margin: 0 0 1rem;
  font-weight: 600;
}
section#item-page .container .item-page__info .item-page__price {
  display: block;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}
section#item-page .container .item-page__info .item-page__color {
  margin-bottom: 1.5rem;
}
section#item-page .container .item-page__info .item-page__color p {
  font-size: 1.2rem;
  font-weight: 600;
}
section#item-page .container .item-page__info .item-page__color div {
  display: flex;
  gap: 1rem;
  margin: 0.75rem 0;
}
section#item-page .container .item-page__info .item-page__color div span {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--focus-color);
  border-radius: 100%;
  box-sizing: border-box;
  transition: all 0.2s;
  cursor: pointer;
}
section#item-page .container .item-page__info .item-page__color div span.active {
  border: solid 2px var(--text-color);
}
section#item-page .container .item-page__info .item-page__color div span:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 2px inset, var(--text-color) 0px 0px 0px 1px;
}
section#item-page .container .item-page__info .item-page__size {
  margin-bottom: 1.5rem;
}
section#item-page .container .item-page__info .item-page__size p {
  font-size: 1.2rem;
  font-weight: 600;
}
section#item-page .container .item-page__info .item-page__size > p {
  display: block;
  margin-bottom: 0.75rem;
}
section#item-page .container .item-page__info .item-page__size > div {
  display: flex;
  gap: 0.5rem;
}
section#item-page .container .item-page__info .item-page__size > div button {
  padding: 0.7rem;
}
section#item-page .container .item-page__info .item-page__action {
  margin-bottom: 1.5rem;
  display: flex;
  gap: 1rem;
}
section#item-page .container .item-page__info .item-page__action .bag {
  min-width: 13rem;
}
section#item-page .container .item-page__info .item-page__action .bag span::before {
  content: "ДО КОШИКА";
}
section#item-page .container .item-page__info .item-page__action .bag.cart {
  border: solid 1px var(--focus-color);
  box-shadow: 0 5px 0 var(--focus-color);
}
section#item-page .container .item-page__info .item-page__action .bag.cart span::before {
  content: "ПРИБРАТИ";
}
section#item-page .container .item-page__info .item-page__action .bag.cart:hover {
  box-shadow: 0 3px 0 var(--focus-color);
}
section#item-page .container .item-page__info .item-page__action .bag.cart:active {
  box-shadow: 0 1px 0 var(--focus-color);
}
section#item-page .container .item-page__info .item-page__action .like {
  width: -moz-min-content;
  width: min-content;
}
section#item-page .container .item-page__info .item-page__action .like span {
  display: block;
  width: 20px;
  height: 18px;
  min-width: 20px;
  background: url(/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
@media (min-width: 520px) {
  section#item-page .container .item-page__info .item-page__action .like:hover span {
    opacity: 0.7;
  }
}
section#item-page .container .item-page__info .item-page__action .like.active {
  box-shadow: 0 5px 0 var(--focus-color);
  border: solid 1px var(--focus-color);
}
section#item-page .container .item-page__info .item-page__action .like.active:hover {
  box-shadow: 0 3px 0 var(--focus-color);
}
section#item-page .container .item-page__info .item-page__action .like.active:active {
  box-shadow: 0 1px 0 var(--focus-color);
}
section#item-page .container .item-page__info .item-page__action .like.active span {
  background: url(/heart-active.png);
  background-size: contain;
  background-repeat: no-repeat;
}
section#item-page .container .item-page__info .item-page__facts {
  width: 70%;
  min-width: 250px;
}
section#item-page .container .item-page__info .item-page__facts > div h5 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media (max-width: 920px) {
  section#item-page .container {
    gap: 1rem;
  }
  section#item-page .container .item-page__images {
    width: 40%;
  }
  section#item-page .container .item-page__info {
    width: 45%;
  }
}
@media (max-width: 720px) {
  section#item-page .container {
    flex-direction: column;
    gap: 1rem;
  }
  section#item-page .container .item-page__images {
    width: 70%;
    margin: 0 auto;
  }
  section#item-page .container .item-page__images .swiper-wrapper {
    width: calc(100% - 4rem);
  }
  section#item-page .container .item-page__images img {
    height: auto;
    aspect-ratio: 0.7;
    -o-object-fit: contain;
       object-fit: contain;
  }
  section#item-page .container .item-page__images .swiper-button-next,
  section#item-page .container .item-page__images .swiper-button-prev {
    width: 2rem;
    height: 2rem;
  }
  section#item-page .container .item-page__info {
    width: 100%;
  }
  section#item-page .container .item-page__info .item-page__action .bag {
    width: 100%;
  }
  section#item-page .container .item-page__info .item-page__action .like {
    width: -moz-min-content;
    width: min-content;
  }
  section#item-page .container .item-page__info .item-page__action .like span {
    display: block;
    width: 20px;
    height: 18px;
    min-width: 20px;
    background: url(/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.2s;
  }
}
@media (max-width: 720px) and (min-width: 520px) {
  section#item-page .container .item-page__info .item-page__action .like:hover span {
    opacity: 0.7;
  }
}
@media (max-width: 720px) {
  section#item-page .container .item-page__info .item-page__action .like.active {
    box-shadow: 0 5px 0 var(--focus-color);
    border: solid 1px var(--focus-color);
  }
  section#item-page .container .item-page__info .item-page__action .like.active:hover {
    box-shadow: 0 3px 0 var(--focus-color);
  }
  section#item-page .container .item-page__info .item-page__action .like.active:active {
    box-shadow: 0 1px 0 var(--focus-color);
  }
  section#item-page .container .item-page__info .item-page__action .like.active span {
    background: url(/heart-active.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  section#item-page .container .item-page__info .item-page__facts {
    width: 100%;
  }
}
.button-wrapper {
  display: contents;
}

.button {
  padding: 0.85rem 1rem;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s all;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  background-color: var(--text-color2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 0;
  box-shadow: 0 5px 0 var(--text-color);
}
@media (min-width: 520px) {
  .button:hover {
    top: 2px;
    box-shadow: 0 3px 0 var(--text-color);
  }
}
.button:active {
  top: 5px;
  box-shadow: 0 1px 0 var(--text-color);
}
.button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

@keyframes movement {
  0% {
    transform: scale(1, 1);
    background-color: var(--text-color);
    opacity: 1;
  }
  100% {
    transform: scale(0.7, 2);
    background-color: var(--focus-color);
    opacity: 1;
  }
}
.spinner {
  margin: 40px auto;
  width: 100%;
  aspect-ratio: 5;
  max-width: 300px;
  display: flex;
  gap: 2px;
}
.spinner .item {
  width: 9%;
  height: 100%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.2s;
  border: solid 1px var(--text-color);
  box-shadow: 3px 3px 0px var(--text-color);
  border-radius: 3px;
  animation: movement 0.5s infinite alternate ease-in-out;
}
.spinner .item:nth-child(2) {
  animation-delay: 0.2s;
}
.spinner .item:nth-child(3) {
  animation-delay: 0.3s;
}
.spinner .item:nth-child(4) {
  animation-delay: 0.4s;
}
.spinner .item:nth-child(5) {
  animation-delay: 0.5s;
}
.spinner .item:nth-child(6) {
  animation-delay: 0.6s;
}
.spinner .item:nth-child(7) {
  animation-delay: 0.7s;
}
.spinner .item:nth-child(8) {
  animation-delay: 0.8s;
}
.spinner .item:nth-child(9) {
  animation-delay: 0.9s;
}
.spinner .item:nth-child(10) {
  animation-delay: 1s;
}

#single-item {
  width: 23%;
  min-width: 230px;
}
#single-item .item {
  position: relative;
  top: 0;
  right: 0;
  padding: 1rem;
  box-sizing: border-box;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  width: 100%;
  box-shadow: 3px 3px 0px var(--text-color);
  transition: all 0.1s;
  background: rgba(226, 191, 151, 0.3803921569);
}
#single-item .item:hover {
  box-shadow: 3px 3px 5px var(--text-color);
}
#single-item .item .item__image {
  width: 100%;
  aspect-ratio: 0.775;
  margin-bottom: 1rem;
}
#single-item .item .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
#single-item .item .item__info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
#single-item .item .item__info .name {
  max-width: 70%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#single-item .item .item__action {
  display: flex;
  gap: 10px;
}
#single-item .item .item__action button {
  width: 100%;
}
#single-item .item .item__action .bag span::before {
  content: "ДО КОШИКА";
}
#single-item .item .item__action .bag.cart {
  border: solid 1px var(--focus-color);
  box-shadow: 0 5px 0 var(--focus-color);
}
#single-item .item .item__action .bag.cart span::before {
  content: "ПРИБРАТИ";
}
#single-item .item .item__action .bag.cart:hover {
  box-shadow: 0 3px 0 var(--focus-color);
}
#single-item .item .item__action .bag.cart:active {
  box-shadow: 0 1px 0 var(--focus-color);
}
#single-item .item .item__action .like {
  width: -moz-min-content;
  width: min-content;
}
#single-item .item .item__action .like span {
  display: block;
  width: 20px;
  height: 18px;
  min-width: 20px;
  background: url(/heart.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: all 0.2s;
}
@media (min-width: 520px) {
  #single-item .item .item__action .like:hover span {
    opacity: 0.7;
  }
}
#single-item .item .item__action .like.active {
  box-shadow: 0 5px 0 var(--focus-color);
  border: solid 1px var(--focus-color);
}
#single-item .item .item__action .like.active:hover {
  box-shadow: 0 3px 0 var(--focus-color);
}
#single-item .item .item__action .like.active:active {
  box-shadow: 0 1px 0 var(--focus-color);
}
#single-item .item .item__action .like.active span {
  background: url(/heart-active.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1050px) {
  #single-item {
    width: 31%;
    min-width: 100px;
  }
  #single-item .item {
    padding: 0.65rem;
  }
  #single-item .item .item__info {
    flex-direction: column;
    gap: 0.2rem;
  }
  #single-item .item .item__info .name {
    max-width: 100%;
  }
}
@media (max-width: 720px) {
  #single-item {
    width: 48%;
  }
}
@media (max-width: 520px) {
  #single-item {
    width: 47%;
  }
  #single-item .item item__image {
    aspect-ratio: 0.875;
  }
  #single-item .item .item__action button {
    padding: 0.55rem 0.85rem;
    font-size: 12px;
  }
  #single-item .item .item__action .like {
    padding: 0.55rem 0.85rem;
  }
  #single-item .item .item__action .like span {
    width: 18px;
    height: 16px;
  }
  #single-item .item .item__action .bag span::before {
    content: "КОШИК";
  }
}
section#breadcrumbs {
  margin-top: -3rem;
  padding: 1.5rem 0;
}
section#breadcrumbs .container {
  display: flex;
  gap: 0.75rem;
}
section#breadcrumbs a, section#breadcrumbs div {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
section#breadcrumbs a a:hover, section#breadcrumbs div a:hover {
  color: var(--focus-color);
}
section#breadcrumbs span.arrow {
  display: block;
  background: url(/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 0.8rem;
  height: 0.8rem;
  transform: rotate(180deg);
}

@media (max-width: 920px) {
  section#breadcrumbs {
    margin-top: -1.5rem;
  }
  section#breadcrumbs .container {
    gap: 0.5rem;
  }
  section#breadcrumbs a {
    font-size: 0.8rem;
    gap: 0.5rem;
  }
  section#breadcrumbs span.arrow {
    width: 0.7rem;
    height: 0.7rem;
  }
}/*# sourceMappingURL=app.css.map */