@import url("https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --theme-value: light;
  --backgrount-color: #FFEDE3;
  --text-color: #361D17;
  --text-color2: #E2BF97;
  --focus-color: #E09999;
  --focus-color2: #96E0A6;
  --focus-font: "Rubik Doodle Shadow", system-ui;
  --base-font: "Inter", sans-serif;
}

body {
  margin: 0 auto;
  background-color: var(--backgrount-color);
  color: var(--text-color);
  transition: color, background 0.2s;
  font-family: var(--base-font);
}

p {
  margin: 0;
}

a, nav-item > a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.2s;
}

a:hover {
  color: var(--focus-color);
}

ol,
ul {
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 15px;
  width: 100%;
  box-sizing: border-box;
}

main {
  min-height: 75vh;
}

section#header {
  border-bottom: solid 1px var(--focus-color);
}
section#header .container {
  display: flex;
  justify-content: space-between;
  padding: 0.85rem 1.5rem;
  font-family: var(--focus-font);
}
section#header .container .header__left {
  display: flex;
}
section#header .container .header__left .logo {
  width: 50px;
  height: 50px;
  margin-right: 3rem;
}
section#header .container .header__left .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
section#header .container .header__left .menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
section#header .container .header__left .menu li > a {
  font-size: 1rem;
  position: relative;
}
section#header .container .header__left .menu li > a span {
  position: absolute;
  display: block;
  bottom: -2px;
  width: 0%;
  height: 1px;
  background-color: var(--text-color);
  transition: all 0.2s;
}
section#header .container .header__left .menu li > a:hover span {
  width: 100%;
  background-color: var(--focus-color);
}
section#header .container .header__right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

section#footer {
  border-top: solid 1px var(--focus-color);
}
section#footer .container {
  padding: 3rem 1.5rem;
}
section#footer .footer__info {
  display: flex;
  justify-content: space-between;
}
section#footer .footer__info .content {
  display: flex;
  width: 50%;
  gap: 3em;
  align-items: center;
}
section#footer .footer__info .content img {
  width: 150px;
}
section#footer .footer__info .content .text {
  width: 35%;
}
section#footer .footer__info .content .text h5 {
  font-size: 1.3rem;
  margin: 0 0 1rem;
}
section#footer .footer__info .content .text p {
  font-size: 0.85rem;
}
section#footer .footer__info .media {
  display: flex;
  width: 100%;
  gap: 1em;
  align-items: end;
  justify-content: center;
  flex-direction: column;
  font-family: var(--focus-font);
  height: 100%;
}
section#footer .footer__info .media:hover a > span {
  color: var(--focus-color);
}
section#footer .footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: var(--focus-font);
  font-size: 1.3rem;
}

section#popular {
  padding: 50px 0;
}
section#popular .content {
  display: flex;
  justify-content: space-between;
}

section#hero {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#hero .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
}

section#items {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#items .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
}

section#categories {
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#categories .heading h1 {
  font-size: 4rem;
  font-family: var(--focus-font);
  text-align: center;
}

.button {
  padding: 0.85rem 1rem;
  color: var(--text-color);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s all;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  background-color: var(--text-color2);
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 0;
  box-shadow: 0 5px 0 var(--text-color);
}
.button:hover {
  top: 2px;
  box-shadow: 0 3px 0 var(--text-color);
}
.button:active {
  top: 5px;
  box-shadow: 0 1px 0 var(--text-color);
}
.button:disabled {
  pointer-events: none;
  opacity: 0.7;
}

@keyframes movement {
  0% {
    transform: scale(1, 1);
    background-color: var(--text-color);
    opacity: 1;
  }
  100% {
    transform: scale(0.7, 2);
    background-color: var(--focus-color);
    opacity: 1;
  }
}
.spinner {
  margin: 40px;
  height: 20px;
  width: 100px;
  display: flex;
  gap: 2px;
}
.spinner .item {
  width: 7px;
  height: 100%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.2s;
  animation: movement 0.5s infinite alternate ease-in-out;
}
.spinner .item:nth-child(2) {
  animation-delay: 0.2s;
}
.spinner .item:nth-child(3) {
  animation-delay: 0.3s;
}
.spinner .item:nth-child(4) {
  animation-delay: 0.4s;
}
.spinner .item:nth-child(5) {
  animation-delay: 0.5s;
}
.spinner .item:nth-child(6) {
  animation-delay: 0.6s;
}
.spinner .item:nth-child(7) {
  animation-delay: 0.7s;
}
.spinner .item:nth-child(8) {
  animation-delay: 0.8s;
}
.spinner .item:nth-child(9) {
  animation-delay: 0.9s;
}
.spinner .item:nth-child(10) {
  animation-delay: 1s;
}

.item-wrapper {
  width: 22%;
}

.item {
  position: relative;
  top: 0;
  right: 0;
  padding: 1rem;
  border: solid 1px var(--text-color);
  border-radius: 5px;
  width: 100%;
  box-shadow: 3px 3px 0px var(--text-color);
  transition: all 0.1s;
}
.item:hover {
  box-shadow: 3px 3px 5px var(--text-color);
}
.item .item__image {
  width: 100%;
  aspect-ratio: 0.775;
  margin-bottom: 1rem;
}
.item .item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
.item .item__info {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.item .item__info .name {
  max-width: 70%;
}
.item .item__action {
  display: flex;
  gap: 10px;
}
.item .item__action button {
  width: 100%;
}
.item .item__action .like {
  width: -moz-min-content;
  width: min-content;
}
.item .item__action .like img {
  width: 15px;
  height: 15px;
}/*# sourceMappingURL=app.css.map */