@mixin cart-button {
  
    span::before {
      content: "ДО КОШИКА";
    }

    &.cart {
      border: solid 1px $focus-color;
      box-shadow: 0 5px 0 $focus-color;

      span::before {
        content: "ПРИБРАТИ";
      }
      &:hover {
        box-shadow: 0 3px 0 $focus-color;
      }
      &:active {
        box-shadow: 0 1px 0 $focus-color;
      }
    }
  
}

@mixin like-button {
  
    width: min-content;

    span {
      display: block;
      width: 20px;
      height: 18px;
      min-width: 20px;
      background: url(/heart.png);
      background-size: contain;
      background-repeat: no-repeat;
      transition: all 0.2s;
    }
    @media (min-width: 520px) {
      &:hover span {
        opacity: 0.7;
      }
    }
    &.active {
      box-shadow: 0 5px 0 $focus-color;
      border: solid 1px $focus-color;

      &:hover {
        box-shadow: 0 3px 0 $focus-color;
      }
      &:active {
        box-shadow: 0 1px 0 $focus-color;
      }
      span {
        background: url(/heart-active.png);
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
 
}
