.button-wrapper {
  display: contents;
}
.button {
  padding: 0.85rem 1rem;
  color: $text-color;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s all;
  border: solid 1px $text-color;
  border-radius: 5px;
  background-color: $text-color2;
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 0;
  box-shadow: 0 5px 0 $text-color;

  &.active {
    border: solid 1px $focus-color;
    box-shadow: 0 5px 0 $focus-color;
    &:hover {
      box-shadow: 0 3px 0 $focus-color;
    }
    &:active {
      box-shadow: 0 1px 0 $focus-color;
    }
  }

  @media (min-width: 520px) {
    &:hover {
      top: 2px;
      box-shadow: 0 3px 0 $text-color;
    }
  }
  &:active {
    top: 5px;
    box-shadow: 0 1px 0 $text-color;
  }
  &:disabled {
    pointer-events: none;
    opacity: 0.7;
    
  }
  
}
