@keyframes movement {
  0% {
    transform: scale(1, 1);
    background-color: $text-color;

    opacity: 1;
  }

  100% {
    transform: scale(0.7, 2);
    background-color: $focus-color;
    opacity: 1;
  }
}

.spinner {
  margin: 40px auto;
  width: 100%;
  aspect-ratio: 5;
  max-width: 300px;
  display: flex;
  gap: 2px;

  .item {
    width: 9%;
    height: 100%;
    background-color: $text-color;
    opacity: 0;
    transition: all 0.2s;
    border: solid 1px $text-color;
    box-shadow: 3px 3px 0px $text-color;
    border-radius: 3px;

    animation: movement 0.5s infinite alternate ease-in-out;

    $itemDelay: 0.1s;
    @for $i from 2 through 10 {
      &:nth-child(#{$i}) {
        animation-delay: $itemDelay * $i;
      }
    }
  }
}
