:root {
  --theme-value: light;

  --backgrount-color: #FFEDE3;
  --text-color: #361D17;
  --text-color2: #E2BF97;
  --focus-color: #E09999;
  --focus-color2: #96E0A6;

  --focus-font: 'Rubik Doodle Shadow', system-ui;
  --base-font: 'Inter', sans-serif;

}

$backgrount-color: var(--backgrount-color);
$text-color: var(--text-color);
$text-color2: var(--text-color2);
$focus-color: var(--focus-color);
$focus-color2: var(--focus-color2);
$focus-font: var(--focus-font);
$base-font: var(--base-font);

