section#categories {
  height: 20rem;
  display: flex;
  justify-content: center;


  .heading {
    h1 {
      font-size: 4rem;
      font-family: $focus-font;
      text-align: center;
    }
  }
}

@media (max-width: 720px) {
  section#categories {
    .heading {
      h1 {
        font-size: 3rem;
      }
    }
  }
}

@media (max-width: 520px) {
  section#categories {
    .heading {
      h1 {
        font-size: 2rem;
      }
    }
  }
}