section#footer {
  border-top: solid 1px $focus-color;

  .container {
    padding: 3rem 1.5rem;
  }

  .content {
    display: flex;
    width: 100%;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;

    img {
      width: 150px;
    }
    .text {
      width: 35%;
      h5 {
        font-size: 1.3rem;
        margin: 0 0 1rem;
      }
      p {
        font-size: 0.85rem;
        min-width: 200px;
      }
    }
  }
  .media {
    display: flex;
    width: 100%;
    gap: 1em;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    font-family: $focus-font;
    height: 100%;
    margin-left: auto;

    &:hover a > span {
      color: $focus-color;
    }
  }
}
.footer__copy {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  font-family: $focus-font;
  font-size: 1.3rem;
}

@media (max-width: 720px) {
  section#footer {
    .content {
      gap: 1rem;
      flex-wrap: wrap;
      img {
        order: 1;
        width: 30%;
      }
      .text {
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }
    }

    .media {
      align-items: center;
      width: 60%;
      order: 3;
      font-size: 14px;
    }
  }
}
