section#popular {
    padding: 50px 0;

    .popular__heading {
        margin-bottom: 1.5rem;
    }
    .content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    .footer {
        display: flex;
        justify-content: center;
        
    }
}